mixin socials()
  .socials
    a.socials__link(href='#')
      i.fa.fa-facebook
    a.socials__link(href='#')
      i.fa.fa-twitter
    a.socials__link(href='#')
      i.fa.fa-dribbble
    a.socials__link(href='#')
      i.fa.fa-instagram
    a.socials__link(href='#')
      i.fa.fa-google-plus
    a.socials__link(href='#')
      i.fa.fa-youtube
