//- Custom Configuration
block config
  - var baseUrl = config.baseUrl || './'

include ../_modules/header/header
include ../_modules/footer/footer

doctype html
<html class='no-js' lang='ru'>

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title Tajam
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  block stylesheets
    link(rel='stylesheet', href= baseUrl + `styles/main.css?v=${Date.now()}`)

body
  .wrapper
    block header
      +header

    block content

    block footer
      +footer

  block scripts
    script(src= baseUrl + `scripts/main.js?v=${Date.now()}`)

</html>
