mixin section-greeting()
  .greeting.wow.fadeIn
    .block-header.greeting__header
      h2.block-title.greeting__title We are awesome creative agency
    .greeting__body
      .greeting__message.
        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
        Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
        Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
      a.button.button--primary.wow.flipInY(href='#') Learn more
